<div class="tab-pane fade" id="v-pills-password" role="tabpanel" tabindex="0" th:fragment="tab_password">
    <h4 class="mb-4 pb-2 border-bottom">Thay đổi mật khẩu</h4>
    <form th:action="@{/profile/change-password}" method="post" style="max-width: 400px;">
        <div class="row g-3">
            <div class="col-12 form-group">
                <label>Mật khẩu cũ</label>
                <input type="password" class="form-control" name="oldPassword" required>
            </div>
            <div class="col-12 form-group">
                <label>Mật khẩu mới</label>
                <input type="password" class="form-control" name="newPassword" required>
            </div>
            <div class="col-12 form-group">
                <label>Xác nhận mật khẩu mới</label>
                <input type="password" class="form-control" name="confirmPassword" required>
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary fw-bold px-4">Đổi mật khẩu</button>
        </div>
    </form>
</div>
